@import 'variables';
@import 'mixin';

body {
  overflow-x: hidden;
  nav {
    background-color: $main-color;
    li a {
      @include mono;
      text-transform: lowercase;
      color: white;
    }
    li a.active {
      color: $bright-peach;
    }
  }
  div#showcase {
    @include evenflex;
    position: absolute;
    width: 100%;
    margin-top: -40px;
    div.show-container {
      @include circle;
      display: inline-flex;
      padding: 0.5em;
      background-color: $dark-peach;
      img.thumb {
        @include circle;
      }
    }
  }
  div#description {
    @include evenflex;
    background-color: $bright-peach;
    padding-top: 12em;
    div.row {
      max-width: 970px;
      text-align: center;
      h2 {
        @include titles;
        font-size: $medium;
        color: $main-color;
      }
      p {
        @include paragraphs;
      }
    }
  }
  footer {
    background-color: $main-color;
    h2 {
      @include titles;
      font-size: $medium;
      color: $bright-peach;
    }
    div.row {
      @include flexcenter;
    }
  }
}