body {
  overflow-x: hidden;
}

body nav {
  background-color: #2f1f1f;
}

body nav li a {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  text-transform: lowercase;
  color: white;
}

body nav li a.active {
  color: #f7dda4;
}

body div#showcase {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -40px;
}

body div#showcase div.show-container {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  padding: 0.5em;
  background-color: #dac087;
}

body div#showcase div.show-container img.thumb {
  border-radius: 50%;
  overflow: hidden;
}

body footer {
  background-color: #2f1f1f;
}

body footer h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #f7dda4;
}

body footer div.row {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  justify-content: center;
}
